@charset "ISO-8859-1";
/*CONFIG */
body
{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins-light"!important;
	background-color: #F4F4F4;
} 

/*FONTS*/


@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*RESPONSIVE*/


/*HEADER*/

header
{
    background-color: #F4F4F4;
    box-shadow: 0px 3px 6px #bebebe;
}

.wrap-nav
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0;
}

.voiture-nav
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 50px;
}

.voiture 
{
    width: 160px;
}

.text-nav
{
    display: flex;
    align-items: center;
    font-family: "Poppins-light";
    font-size: 25px;
    width: 35%;
    justify-content: center;
    flex-wrap: wrap;
}

.text-nav > ul
{
	margin-top: 1rem;
}
.text-nav > ul > li
{
    list-style: none;
    margin: 5px;
    display: inline;
    font-size: 22px;
}

.text-nav > ul > li > a
{
    text-decoration: none;
    color: black;
    display : inline-block;
    color: #000;
}

.nav-img
{
  	opacity: .7;
}

.nav-img:hover
{
    opacity: 1;
}

.effect
{
	position: relative;
}

.effect::after
{
	content: "";
    display: block;
    position: absolute;
    /*width: 0%;*/
    width: 100%;
    transform: scale(0);
    height: 1px;
    background: #000;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.effect:hover::after
{
    transform: scale(1);
    /*width: 100%;*/
}
/*FOOTER*/

.container-footer
{
    background: #F57355;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Poppins-light';
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top : 160px;
}

.item-entreprise 
{
    width: 480px;
}

.clef 
{
    display: flex;
    align-items: center;
}

.item-entreprise img 
{
    width: 32px;
    margin-left: 10px;
}

.item-entreprise h2 
{
    display: inline-block;
    font-family: 'Poppins-light';
    font-size: 30px;
}

.item-info img 
{
    width: 32px;
}

.item-info p, .item-entreprise p 
{
    font-size: 20px;
    margin-top: 20px;
}

.item-info-p 
{
    width: 65%;
}

.item-info h3 
{
    font-size: 30px;
    font-family: 'Poppins-light';
}

.element-info img 
{
    display: inline-block;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    margin-right: 10px;
}

.element-info p 
{
    display: inline-block;
}

/*HOME*/

.titre-accueil-1
{
	margin-top: 70px;
    margin-bottom: 70px;
    display: block;
    font-size: 40px;
    text-align: center;
}

.div-offre
{
    display: flex;
    flex-wrap: wrap;
}
.div-img-conseil
{
    width: 70%;
}

.img-conseil
{
    width: 1332px;
    height: 700px;
    object-fit: cover;
}

.div-text-offre
{
    color: #385B64;
    height: 700px;
    width: 30%;
    background-color: #385B64;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-text-offre p
{
    color: #fff;
    font-size: 25px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    margin-top: 110px;
    width: 361px;
}

.div-text-offre button
{
    height: 50px;
    border-radius: 10px;
    border: none;
    width: 220px;
    color: #fff;
    font-size: 19px;
    background-color: #FF745C;
    cursor : pointer;
}

.titre-accueil-2
{
    margin-top: 70px;
    font-size: 40px;
    margin-right: 20%;
    text-align: right;
}

.container-secteur
{
    display: flex;
    flex-direction: column;
    height: 1500px;
    justify-content: space-evenly;
}

.item-secteur
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 450px;
    justify-content: center;
}

.div-text-mecanique
{
    width: 20%;
    height: 100%;
    background-color: #385B64;
    color: #fff;
}

.h3-center
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.div-text-mecanique > p
{
    text-align: justify;
    padding: 25px;
    font-size: 18px;
    margin-top: 0;
}

.div-img-mecanique
{
    width: 40%;
}

.img-mecanique
{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.div-img-accueil
{
    width: 40%;
}

.img-accueil
{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.div-text-accueil
{
    width: 20%;
    height: 100%;
    background-color: #385B64;
    color: #fff;
}

.div-text-accueil > p
{
    text-align: justify;
    padding: 25px;
    font-size: 18px;
    margin-top: 0;
}

.div-text-vente
{
    width: 20%;
    height: 100%;
    background-color: #385B64;
    color: #fff;
}

.div-text-vente > p
{
    text-align: justify;
    padding: 25px;
    font-size: 18px;
    margin-top: 0;
}

.div-img-vente
{
    width: 40%;
}

.img-vente
{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/*OFFRE*/

.titre-les-offre
{
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #385B64;
}

.card
{
    width: 24rem;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    border-radius: 10px!important;
    margin: 0px 25px 25px 50px;
}

.card:hover
{
    background-color: #F9F9F9;
}

.card-body
{
    position: relative;
}

.card-title
{
    display: inline;
    cursor: pointer; 
    font-size: 28px;
    color: #F57355;
    font-weight: 600;
}

.lien-card-title
{
	text-decoration: none;
    color: black;
}

.date-position
{
    display: block;
    margin-top: 10px!important;
    margin-bottom: 15px!important;
}

.ref-position
{
    position: absolute;
    top: 52px;
    left: 143px;
}

.card-text
{
    margin-bottom: 2px;
}

.p-fin-card
{
    display: inline;
}

.fleche-card
{
    width: 25px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer; 
    transition : 1s ease in out;
    transform: rotate(-45deg)
}

.fleche-card:hover
{
	transform : rotate(0deg);
}

.supr-offre
{
	width: 25px;
	position: absolute;
	cursor: pointer;
	top: 25px;
    left: 335px;
}

.container-card
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

/*CONNEXION & INSCRIPTION*/

.border-connexion
{
    width: 35%;
    height: 500px;
    margin: 145px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.btn-formulaire
{
    display: block;
    border: 1px solid #385B64;
    color: #fff;
    background: #385B64;
    border-radius: 10px;
    margin: 10px auto;
    width: 135px;
    height: 40px;
}

.lien-connexion
{
    text-decoration: none;
    color: black;
    margin-bottom: 12px;
    display: block;
}

.lien-connexion:hover
{
	color: #F57355;
}

.margin-label
{
    margin-bottom: 5px;
}

.champ-email
{
    margin-bottom: 20px;
}

.champ-mdp
{
    margin-bottom: 10px
}

.sign-in
{
    display: block;
    text-align: center;
}

.img-pouce
{
    width: 170px;
    display: block;
    bottom: 10px;
    margin: 10px auto;
}


.margin-input-inscription
{
    margin-bottom: 15px;
}

.margin-input-mdp
{
    margin-bottom: 40px;
}

.margin-btn-formulaire
{
    margin-bottom: 20px;
}

.border-inscription
{
    height: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.container-inscription
{
    display: flex;
    width: 60%;
    margin: 130px auto;
    align-items: center;
    justify-content: center;
}

.item
{
    width: 50%;
}

.item img
{
    width: 100%;
}

/***
	CANDIDATURE
***/
.container {
	width: 70%!important;
	margin: auto;
	border-radius: 10px;
}
.entete-candidature
{
	align-items: center;
	justify-content: space-around;
}

.ref-offre
{
	font-style: italic;
}

.stop-img
{
	margin: 3px;
}

.margin-bloc
{
	margin-left: 6px;
}

.paragraphe-bloc-candidature
{
	margin-bottom: 5px;
}

.titre-bloc-candidature
{
	font-size: 24px;
    margin-bottom: 12px;
    color: #F57355;
}

.container p {
	margin-top: 10px;
}

.titre-les-candidatures {
	margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #385B64;
}

.titreCandidature
{
	margin-left: 0;
	padding-right: 50px;
	font-weight: bold;
	color: #385B64;
}

.msg, .boxsizingBorder textarea {
	margin-left: 20px;
}

.boxsizingBorder textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 97%;
    margin-bottom: 20px;         
}

.imgCandidature {
	
    background-image: url(./../assets/entretien.png);
    width: 100%;
    height: 520px;
    background-attachment: fixed;
    background-size: contain;
}

/** 
	DESCRIPTION OFFRE
**/

.titre-description-offre 
{
	font-size: 60px;
    font-weight: bolder;
    margin-left: 130px;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #385B64;
}

.btn-postuler a
{
	text-decoration: none;
    color: white;
}

.btn-postuler a:hover
{
	color: white;
}

.descriptionPoste {
	margin-top: 50px;
    margin-bottom: 50px;
}

.descriptionPoste h3
{
	font-size: 50px;
	text-align: center;
	margin-bottom: 70px;
}

.containerPoste {
	width: 60%;
    margin: auto;
}

.last-paragraphe
{
	margin-bottom: 5rem;
}

.mt3 h3 p
{
	margin-bottom: 2rem;
}

.imgOffre {
	
    background-image: url(./../assets/atelier.jpeg);
    width: 100%;
    height: 520px;
    background-attachment: fixed;
    background-size: contain;
}

.titre-description
{
	margin-bottom: 20px;
}

/*INSERT CANDIDATURE*/

.titre-formulaire-candidature
{
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #385B64;
}

.titre-postuler {
	margin-top: 10px;
    margin-bottom: 20px;
    color: #F57355;
}

.margin-input-postuler
{
    margin-bottom: 15px;
}

.margin-input-postuler-end
{
    margin-bottom: 20px;
}

.border-postuler
{
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.container-insert-candidature
{
    display: flex;
    width: 90%;
    margin: 0px auto 130px;
    align-items: center;
    justify-content: center;
}

.item-insert-candidature
{
    width: 50%;
}

.item-insert-candidature img
{
    width: 100%;
}


/*INSERT OFFRE*/

.titre-insert-offre
{
	margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 50px;
    color: #385B64;
}

.border-insert-offre
{
	width: 75%;
    margin: 0 auto 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}

.champ-insert-offre
{
	margin-bottom: 20px;
}